@import "~common/styles/base/_breakpoints";
@import "components/Form/form";

.login {

    @include form;

    .link-forgot {
        color: rgb(0, 115, 176);
        font-size: 12px;
    }
}

@include media-breakpoint-up(ss) {
    .login {
        margin-top: 60px;
        padding-top: 50px;
    }
}

@include media-breakpoint-up(lg) {
    .login {
        margin-top: 50px;
    }
}

@include media-breakpoint-up(xs) {
    .login {
        padding-top: 20px;
        padding-bottom: 90px;
    }
}

@include media-breakpoint-up(ls) {
    .login {
        margin-top: 60px;
        padding-top: 100px;

        @include form;
    }
}