@import "~bootstrap/scss/bootstrap.scss";
@import "common/styles/global.scss";



body {
    padding-top: 60px;
    padding-bottom: 100px;
    color: #000;
    font-family: $base-font-family;
    font-size: 1rem;
}


@include media-breakpoint-up(md) {
    body {
        padding-top: 100px;
        padding-bottom: 0;
    }
}