@import "~common/styles/base/_breakpoints";

.header[role="main"] {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 40px;
    background-color: #fff;
}

.logo {
    color: #0073b0;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 0;

    a {
        text-decoration: none;
        color: #0073b0;
    }
}

@include media-breakpoint-down(ss) {
    .header[role="main"] {
        padding-top: 0;
    }
}

@include media-breakpoint-down(xs) {
    .header[role="main"] {
        padding-top: 0;
    }

    .logo {
        font-size: 30px;
    }
}